<section>
  <% @public_recipes.each do |recipe| %>
    <div class="container mx-auto">
      <div class="border border-2 rounded-lg p-4 flex items-center mb-3">
        <div class="flex-grow">
          <span class="block text-2xl font-semibold">
            <%= link_to recipe.name, recipe, class: "text-blue-600 hover:underline" %>
          </span>
          <span>By: <%= recipe.user.name %></span>
        </div>
        <div class="flex-grow-0">
          <span class="block">Total food items: <%= recipe.foods.count %></span>
          <span>Total price: <%= recipe.foods.sum { |public_food| public_food.price } %></span>
        </div>
      </div>
    </div>
  <% end %>
</section>
