<footer class="fixed bottom-0 w-full bg-slate-300 py-4 text-black">
  <div class="container mx-auto flex justify-between">
    <div class="w-1/2">
      <p class="text-center">© Copyright 2023</p>
    </div>
    <div class="w-1/2">
      <ul class="flex justify-around">
        <li>
          <a href="https://github.com/MMhaidari" class="text-blue-900">Mohsen Haidari</a>
        </li>
        <li>
          <a href="https://github.com/Rana-Mudassir" class="text-blue-900">Mudassir Nazir</a>
        </li>
        <li>
          <a href="https://github.com/LoviMadaan" class="text-blue-900">Lovi Narang</a>
        </li>
      </ul>
    </div>
  </div>
</footer>